*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html, body{
  width:100%;
  height:100%;
  overflow:hidden;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  user-select:none;
}

body{
  font-family:sans-serif;
  background:linear-gradient(to bottom,#9ecfff,#b7d8ff);
  color:white;
}

/* PANTALLAS */
.screen{
  width:100vw;
  height:100vh;
  position:fixed;
  top:0;
  left:0;

  display:flex;
  justify-content:center;
  align-items:center;

  padding:20px;

  opacity:0;
  transform:scale(0.97);
  transition:all .6s ease;

  pointer-events:none;
}

.active{
  opacity:1;
  transform:scale(1);
  pointer-events:auto;
  z-index:10;
}

/* TEXTO TOQUE */
.tap-text{
  position:fixed;
  bottom:25px;
  width:100%;
  text-align:center;
  opacity:.8;
  z-index:999;
  pointer-events:none;
}

/* CARD */
.card{
  width:90%;
  max-width:400px;
  background:rgba(255,255,255,.2);
  padding:30px;
  border-radius:30px;
  text-align:center;
  backdrop-filter:blur(10px);
}

.card h1{ font-size:40px; margin:20px 0; }
.date{ opacity:.9; }

/* ❤️ CORAZÓN */
.heart{
  font-size:60px;
  margin-top:20px;
  animation:heartbeat 1.2s infinite ease-in-out;
}

@keyframes heartbeat{
  0%{transform:scale(1);}
  25%{transform:scale(1.15);}
  40%{transform:scale(1);}
  60%{transform:scale(1.2);}
  100%{transform:scale(1);}
}

/* FECHAS */
.special{
  background:white;
  color:#6da8e6;
  padding:15px;
  border-radius:20px;
  margin-top:15px;
  font-weight:bold;
}

.big{ font-size:20px; }

/* CONTADOR */
.counter{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:15px;
  margin-top:20px;
}

.counter-box{
  background:rgba(255,255,255,.2);
  padding:15px;
  border-radius:20px;
}

.counter-box span{
  font-size:24px;
  font-weight:bold;
}

/* CARTA */
.letter-card{
  width:90%;
  max-width:400px;
  background:white;
  color:#444;
  padding:30px;
  border-radius:30px;
  line-height:1.7;
}

/* COLLAGE */
.love-collage{
  width:100%;
  height:100vh;
  position:relative;
  overflow:hidden;
  padding:20px;
}

/* CENTRO */
.center-text{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);

  width:200px;
  height:200px;
  border-radius:50%;
  background:rgba(255,255,255,.25);
  backdrop-filter:blur(12px);

  display:flex;
  justify-content:center;
  align-items:center;

  text-align:center;
  font-size:22px;
  font-weight:bold;

  z-index:5;
  pointer-events:none;
}

/* MULTIMEDIA */
.pic{
  position:absolute;
  width:110px;
  height:150px;
  object-fit:cover;
  border-radius:18px;
  box-shadow:0 10px 25px rgba(0,0,0,.25);
  z-index:2;
}

/* POSICIONES */
.p1{ top:60px; left:40px; }
.p2{ top:60px; right:40px; }

.p3{
  top:50%;
  left:20px;
  transform:translateY(-50%);
}

.p4{
  top:50%;
  right:20px;
  transform:translateY(-50%);
}

.p7{
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(1.05);
  z-index:3;
}

.p5{ bottom:60px; left:50px; }
.p6{ bottom:60px; right:50px; }

video, img{
  pointer-events:none;
}
