*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:sans-serif;
  overflow:hidden;
  background:linear-gradient(to bottom,#9ecfff,#b7d8ff);
  color:white;
}

.screen{
  width:100vw;
  height:100vh;
  display:none;
  justify-content:center;
  align-items:center;
  position:fixed;
  top:0;
  left:0;
  padding:20px;
}

.active{
  display:flex;
}

/* TEXTO */
.tap-text{
  position:fixed;
  bottom:30px;
  width:100%;
  text-align:center;
  opacity:.8;
}

/* CARD */
.card{
  width:90%;
  max-width:400px;
  background:rgba(255,255,255,.2);
  padding:30px;
  border-radius:30px;
  text-align:center;
  backdrop-filter:blur(10px);
}

.card h1{
  font-size:40px;
  margin:20px 0;
}

/* CORAZÓN */
.heart{
  font-size:50px;
  animation:pulse 1.5s infinite;
}

@keyframes pulse{
  0%{transform:scale(1);}
  50%{transform:scale(1.2);}
  100%{transform:scale(1);}
}

/* FECHAS */
.special{
  background:white;
  color:#6da8e6;
  padding:15px;
  border-radius:20px;
  margin-top:10px;
  font-weight:bold;
}

/* CONTADOR */
.counter{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:10px;
  margin-top:20px;
}

.counter-box{
  background:rgba(255,255,255,.2);
  padding:15px;
  border-radius:15px;
}

/* CARTA */
.letter-card{
  width:90%;
  max-width:400px;
  background:white;
  color:#444;
  padding:30px;
  border-radius:30px;
}

/* COLLAGE */
.collage{
  width:100%;
  height:100vh;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows:repeat(3,1fr);
  gap:8px;
  padding:20px;
  place-items:center;
}

/* CENTRO */
.center{
  grid-column:2;
  grid-row:2;

  width:140px;
  height:140px;

  border-radius:50%;
  background:rgba(255,255,255,.25);
  backdrop-filter:blur(10px);

  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  font-weight:bold;
}

/* MEDIA */
.item{
  width:85px;
  height:110px;
  object-fit:cover;
  border-radius:15px;
  box-shadow:0 0 15px rgba(0,0,0,.2);
}

/* POSICIONES */
.i1{grid-column:1;grid-row:1;}
.i2{grid-column:2;grid-row:1;}
.i3{grid-column:3;grid-row:1;}

.i4{grid-column:1;grid-row:2;}
.i5{grid-column:3;grid-row:2;}

.i6{grid-column:1;grid-row:3;}
.i7{grid-column:2;grid-row:3;}
.i8{grid-column:3;grid-row:3;}
